/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Segoe UI', 'Ubuntu', 'Open Sans';
  }

button, .mat-button {
    width: 220px; 
    padding: 10px;
    background-color: #1d6da8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;         
  }
  
  /* Optional: hover effect */
  button:hover, .mat-button:hover {
    background-color: #1565c0;   
  }